-

# <font color=Navy> Assignment -1A

# <font color=Red>Assignment 1A-I
<font color=navy>    One of the leading finance organizations have five different saving schemes namely, Scheme1, Schem2, Scheme3, Scheme4 and Scheme5. It is planning to offer a personalized finance assistance to its customers so that, they can invest on the right scheme to get maximum returns(profit) based on their income and deduction. 
 You as a Python programmer help the finance service by implementing few functionalities given below:

<font color=red>1.	A list of schemes: ["Scheme1", "Scheme2","Scheme3","Scheme4","Scheme5"] and the corresponding features of the scheme is given in the list as :    [6.9, 2, 'yes', 'yes'],[7.1, 15, 'yes','no'],[7.6,21,'yes','no'],[6.8,5,'yes','no'],[7.4,5,'yes','no']. The features of the scheme in list can be interpreted as [Interest Rate, Tenure, Tax deduction, Interest Taxable]. Create a dictionary that stores schemes as keys and features of scheme as value.

In [1]:
Key_scheme=["Scheme1", "Scheme2","Scheme3","Scheme4","Scheme5"]
Value_scheme = [[6.9, 2, 'yes', 'yes'],[7.1, 15, 'yes','no'],[7.6,21,'yes','no'],[6.8,5,'yes','no'],[7.4,5,'yes','no']]

In [2]:
Schemes = {}
for key in Key_scheme:
    for value in Value_scheme:
        Schemes[key] = value
        Value_scheme.remove(value)
        break  
  
# Printing resultant dictionary 
print ("Resultant dictionary is : " +  str(Schemes))

Resultant dictionary is : {'Scheme1': [6.9, 2, 'yes', 'yes'], 'Scheme2': [7.1, 15, 'yes', 'no'], 'Scheme3': [7.6, 21, 'yes', 'no'], 'Scheme4': [6.8, 5, 'yes', 'no'], 'Scheme5': [7.4, 5, 'yes', 'no']}

<font color=red>2.	Display all those Schemes where there is Taxable Interest = “No”.

In [3]:
#2.Display all those Schemes in the below mentioned formats :

print('SAVING SCHEME','\t','INTEREST RATE','\t','TENURE','\t','TAX DEDUCTION','\t','INTRST TAXABLE')
for key, value in Schemes.items():
    if value[3]=='no':
        print(key ,'\t\t',value[0],'\t\t',value[1],'\t\t',value[2],'\t\t',value[3])
    else:
        continue

SAVING SCHEME 	 INTEREST RATE 	 TENURE 	 TAX DEDUCTION 	 INTRST TAXABLE
Scheme2 		 7.1 		 15 		 yes 		 no
Scheme3 		 7.6 		 21 		 yes 		 no
Scheme4 		 6.8 		 5 		 yes 		 no
Scheme5 		 7.4 		 5 		 yes 		 no

<font color=red>3. Read the user's income(in $) as input.
Also, read Vehicle loan, Peronal loan, housing loan as input and store the loan amount in a list.

In [4]:
income=int(input("please enter the Income in ($) : "))

please enter the Income in ($) : 100000

In [13]:
loan=[]
print('Enter the Loan amount if any ')
print('enter the Vehicle loan , enter 0 if not applicable')
l=int(input())
loan.append(l)
print('enter the Personal loan , enter 0 if not applicable')
l=int(input())
loan.append(l)
print('enter the Home loan , enter 0 if not applicable')
l=int(input())
loan.append(l)
print(loan)
print('Total loan')
print(sum(loan))

Enter the Loan amount if any
enter the Vehicle loan , enter 0 if not applicable
10000
enter the Personal loan , enter 0 if not applicable
0
enter the Home loan , enter 0 if not applicable
20000
[10000, 0, 20000]
Total loan
30000

<font color=red>4.	Write a function calculate_deduction () to calculate the total deduction using the formula:    Deduction = Tax + total loan amount  by accepting income and loan amount as parameter,  and return the Deduction.<br>
Tax can be calculated based on below criteria:<br>
income ($)	rate<br>
0-10000	10%<br>
10001- 40000	12%<br>
40001- 86000	22%<br>
86001- 164000	24%<br>
164001 +	35%<br>

In [22]:
def cal_tax(income):
    if income>0 and income<10000:
        tax=10/100
    elif income>10000 and income<40000:
        tax=12/100
    elif income>40000 and income<86000:
        tax=22/100
    elif income>86000 and income<164000:
        tax=24/100
    else:
        tax=35/100
    print('TAX_SLAB=',tax)
    return tax

In [23]:
def calculate_deduction(income,loan):
    tax=cal_tax(income)
   
    deduction= sum(loan)+ tax * income
    return deduction

In [24]:
deduction= calculate_deduction(income,loan)
print('Total Deduction [Tax + total Loan] =',deduction)

TAX_SLAB= 0.24
Total Deduction [Tax + total Loan] = 54000.0

<font color=red>5.	Write a function check_invstable_amt() that takes income and deduction as parameter and calculates amount investable =  income - deduction. The function should return amount investable if it is greater than the 40% of the income. Otherwise, it should return 0(zero).

In [27]:
def check_invstable_amt(income,deduction):
    minimum=(40/100)*income
    Left_out_amount= income - deduction
    if Left_out_amount > minimum:
        return Left_out_amount
    else:
        return 0

In [28]:
#Main driver Program
investable_amount=check_invstable_amt(income,deduction)
print('AMOUNT_Investable:',investable_amount)

AMOUNT_Investable: 46000.0

In [29]:
def profit(invest):
    Profit=0
    for key, value in Schemes.items():
        ROI=Schemes[key][0]
        Years=Schemes[key][1]
        Profit=invest * ROI * Years/100
        print(Profit)
        Schemes[key]+=[Profit]
    #return Profit

In [30]:
profit(investable_amount)

6348.0
48990.0
73416.0
15640.0
17020.0

In [31]:
print('SCHEME','\t\t','ROI','\t','TENURE','DED_TAXABLE','\t','INT_TAXABLE','\t','RETURNS')
for key, value in Schemes.items():
    print(key ,'\t',value[0],'\t',value[1],'\t',value[2],'\t\t',value[3],'\t\t',value[4])

SCHEME 		 ROI 	 TENURE DED_TAXABLE 	 INT_TAXABLE 	 RETURNS
Scheme1 	 6.9 	 2 	 yes 		 yes 		 6348.0
Scheme2 	 7.1 	 15 	 yes 		 no 		 48990.0
Scheme3 	 7.6 	 21 	 yes 		 no 		 73416.0
Scheme4 	 6.8 	 5 	 yes 		 no 		 15640.0
Scheme5 	 7.4 	 5 	 yes 		 no 		 17020.0

# <font color=Red>Assignment 1A-II
A parking service provides wants to know the total amount of money collected by providing the parking facility at a given point of time. You as python programmer, write a program that can calculate the total money collected based on the below specified points:

<font color=red>1.	Store the below given details about parking prices (in $ per hour) for each floor appropriate data structure.
                {“Basement”: 50, “First floor”: 40, “Second floor”: 30, “Third Floor”: 20}

In [32]:
Floor_charge={'Basement':50, 'FirstFloor':40, 'SecondFloor':30, 'ThirdFloor':20}
Floor_charge

{'Basement': 50, 'FirstFloor': 40, 'SecondFloor': 30, 'ThirdFloor': 20}

<font color=Red>2.	People who use parking can be either resident of the apartment or just a visitor. Parking details of each floor is available in the format as given below. 
•	'Basement': ['R',2,'v',3,'v',2,'v',4,'R',6,'v',1,'R',2,'v',1,'v',2,'R',4]
•	'First Floor': ['v',3,'v',3,'v',4,'R', 4,'R',1,'R',2,'v',1]
•	'Second Floor': ['v',12,'R', 6,'R',10,'R',12,'v',12]
'R’ indicate resident and 'v' indicate visitor. The number indicate the parking duration in hours.
Store the parking details using appropriate data structure.  [Note: record don’t have Third floor parking details]

In [33]:
Record={'Basement': ['R',2,'v',3,'v',2,'v',4,'R',6,'v',1,'R',2,'v',1,'v',2,'R',4],
        'FirstFloor': ['v',3,'v',3,'v',4,'R', 4,'R',1,'R',2,'v',1],
        'SecondFloor': ['v',12,'R', 6,'R',10,'R',12,'v',12]}

<font color=red>3.	Use the parking details provided, to calculate the total parking charges collected. Points to be considered while calculating the total parking charges are:
•	For a resident, amount payable for the number of hours is 25% of the parking price of the floor he has parked.
•	For a visitor, has amount payable for the number of hours is 100% of the parking price
[Hint: Total parking charges should include both resident and visitor type for all the floors in the record.]

In [3]:
def charge_cal(Floor):
     
    for key,value in Floor_charge.items():
        if(Floor == key):
            print('KEY',key)
            print('FL',Floor)
            return(value)

<font color=Red><b>Assignment 1A-II

In [22]:
#Calculating Total charges 
Total_amount=0

for key1, value1 in Record.items():
    rate=charge_cal(key1)
    print(rate)       
   
    for i in value1:
        if isinstance(i,str):
            temp=i
            continue
        else:
            hour=i
            print(hour)        
                     
            if temp=='R':
                Total_amount = Total_amount + hour * (25/100)*rate
            else:
                Total_amount = Total_amount + hour * rate
          
Total_amount

KEY Basement
FL Basement
50
2
3
2
4
6
1
2
1
2
4
KEY FirstFloor
FL FirstFloor
40
3
3
4
4
1
2
1
KEY SecondFloor
FL SecondFloor
30
12
6
10
12
12

3630

Below logic can also be used

In [17]:
#Calculating Total charges 
#Total_amount=0

#for key1, value1 in Record.items():
    #rate=charge_cal(key1)
    #print(rate)
       
    #for i in range(len(value1)):
        #v =value1[i]
    
        
    #check if an element is a string,if yes, pick the next element to get the hour.
        #if isinstance(v,str):
            #hour=value1[i+1]
                     
            #if i=='R':
                #Total_amount = Total_amount + hour * (25/100)*rate
            #else:
                #Total_amount = Total_amount + hour * rate
          
#Total_amount

KEY Basement
FL Basement
50
KEY FirstFloor
FL FirstFloor
40
KEY SecondFloor
FL SecondFloor
30

3630

# <font color=Red>Assignment 1A- III

<font color=navy>

In [ ]:
#Data
data=['Python for Data Science ','Python ','python ','   linux internals ','Linear algebra ', 'Statistics']
print(data)

<font color=red>Remove the leading and training spaces in each string in a list

In [ ]:
#remove leading and trailing space

for i in range(len(data)):
    data[i]=data[i].strip()
print(data)

<font color=red>Change all the first letter  in each string in a list to Uppercase

In [ ]:
def first_letter_upper(data):
    temp_data=[]
    for i in data:
        x=i[0].upper()+i[1:]
        temp_data.append(x)
    return(temp_data)

In [ ]:
data1=first_letter_upper(data)
print("Data with first letter of the word in uppercase: ")
print(data1)

<font color=red>Replace the space between the words with underscore('_')

In [ ]:
data2=[ ]
for i in data1:
    data=i.replace(' ','_')
    print(data)
    data2.append(data)
print(data2)

<font color=red>Remove the redundant word in the list

In [ ]:
data3=list(set(data2))
print(data3)

# <font color=Red>Assignment 1A-IV

<font color=Navy><b>The details of the salary (in $) and the age of 10 people is as given below:
Age = [64, 49, 48, 46, 57, 60, 69, 25,23, 32]   
Salary = [20000, 10000, 5000, 25000, 500, 1000, 300, 30000, 2500,20000] 
Write a python program to perform the following tasks using the above given data:

In [1]:
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
Age=[64, 49, 48, 46, 57, 60, 69, 25,23, 32]
Salary = [20000, 10000, 5000, 25000, 500, 1000, 300, 30000, 2500,20000]

<font color=red><b>i.	Find the mean, median and mode of list containing values of ‘Age’ and print them.

In [ ]:
print(np.mean(Age))

In [ ]:
print(np.median(Age))

In [ ]:
print(stats.mode(Age))

<font color=Red><b>ii.	Find the spread of the ‘Salary’ data finding both sample variance and population variance. Print them. [ Hint: statistics library can be considered.]

In [3]:
from statistics import variance, pvariance

In [ ]:
#calculate sample variance
variance(Salary)

<font color=Navy>Inference: Since the list salary has values ranging from 300 to 20000
    variance  and pvariance values is expected to be large value.

In [ ]:
#calculate population variance
pvariance(Salary)

<font color=red>iii.	Print the Pearson correlation coefficient between Age and salary.

In [4]:
np.corrcoef(Age, Salary)

array([[ 1.        , -0.42093601],
       [-0.42093601,  1.        ]])

<font color=red>iv.	Plot the histogram of the list ‘Age ‘

In [ ]:
plt.hist("age")

<font color=red><b>
    v.	Find the interquartile range of the list ‘Salary’.

In [ ]:
np.quantile(x,q=0.75) - np.quantile(x,q=0.25)